{
  "configuration": {
    "host" : "localhost",
    "port" : 1234,
    "endpoint": "",
  "content": "D:/paraview-remote-rendering-web/share/paraview-5.9/web/ParaViewWeb-SimpleDemo-master/js/www",
    "proxy_file" : "C:/Apache24/proxy.txt",
    "sessionURL" : "ws://localhost:1234/proxy?sessionId=${id}&path=ws",
    "timeout" : 60,
    "log_dir" : "D:/paraview-remote-rendering-web/log/",
    "fields" : []
  },
  "resources" : [ {
  "host" : "localhost",
  "port_range" : [9001, 9010]
  } ],
  "properties" : {
    "pvpython" : "D:/paraview-remote-rendering-web/bin/pvpython.exe",
    "cloudcad": "D:/paraview-remote-rendering-web/share/paraview-5.9/web/ParaViewWeb-SimpleDemo-master/python/PVWSDServer.py"
  },
  "apps": {
    "cloudcad": {
        "cmd": [
            "${pvpython}", "-dr", "${cloudcad}", "--port", "${port}"
        ],
        "ready_line" : "Starting factory"
    }
  }
}